In [4]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import sys 
sys.path.append('./deep_face')
from deepface import DeepFace

2023-12-24 19:22:53.635479: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-24 19:22:53.635503: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-24 19:22:53.636364: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-24 19:22:53.641772: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-24 19:22:54.391406: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [5]:

def extract_features(img_path):
  embedding_objs = DeepFace.represent(img_path, model_name='Facenet512', enforce_detection=False)
  return embedding_objs[0]['embedding']

In [3]:

from tqdm import tqdm

In [4]:
root = 'datasets'
data = []
dirs = os.listdir(root)
print(dirs)
for dir in tqdm(dirs):
  for img in os.listdir(os.path.join(root, dir)):
     features = extract_features(os.path.join(root, dir, img))
     features.insert(0, dir)
     data.append(features)

['HTMVan.10B1', 'TCTai.10B1', 'PPTuan.10B1', 'NDTAnh.10B1', 'HDAKiet.10B1', 'TCNNam.10B1', 'PTTHa.10B1']

100%|██████████| 7/7 [00:14<00:00,  2.04s/it]

In [5]:
column_names = ['person name']
for i in range(512):
  column_names.append(f'f{i+1}')

df_org = pd.DataFrame(data, columns=column_names)
df_org.to_csv('face_features.csv', index=False)
df_org.head()

,person name,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f503,f504,f505,f506,f507,f508,f509,f510,f511,f512
0,HTMVan.10B1,0.322058,-0.433161,-0.672233,0.686782,-0.239042,0.528821,-0.515339,0.269433,-0.235005,...,-0.153020,0.075565,-0.272968,0.273718,0.294176,0.196406,0.295513,0.115156,0.034416,-0.239489
1,HTMVan.10B1,-0.799124,0.649721,-1.067423,1.807344,0.254739,-0.177150,-0.582705,0.131899,-0.022124,...,-0.000305,-0.628453,-1.339539,1.494982,-0.879591,0.565622,1.095937,-0.650479,0.758743,-0.012012
2,HTMVan.10B1,-0.494682,0.468054,-1.165669,1.400342,0.095167,-0.615882,-0.052469,-0.175951,-0.743183,...,0.024124,-0.445072,-1.593938,1.555155,-1.084509,0.877635,1.105216,-0.701744,0.424702,0.208243
3,HTMVan.10B1,0.045172,-0.712837,-1.211775,0.617426,-0.491368,-0.414576,-0.231331,0.170432,0.065418,...,-0.674945,1.091405,-0.310416,0.427969,0.120300,-0.435138,-0.545808,0.412314,0.128153,-0.313113
4,HTMVan.10B1,-0.703672,0.678344,-1.159584,1.581358,0.286007,-0.368840,-0.169128,-0.048448,-0.908420,...,0.229358,-0.605996,-1.726386,1.940127,-0.327482,1.084144,0.538159,-1.262533,0.400448,0.192428

In [6]:
df = df_org.replace(dirs, [i for i in range(len(dirs))])
df = df.sample(frac=1)
df.head()

,person name,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f503,f504,f505,f506,f507,f508,f509,f510,f511,f512
31,6,0.065413,-0.187295,-1.038659,1.538978,-0.293485,0.406746,-0.348509,0.684315,-0.318287,...,0.325161,0.523756,-0.721655,-0.184646,-0.015526,0.533285,0.616137,-0.227958,-0.162661,-0.050137
14,2,0.407867,-0.612807,-1.313325,0.680938,-0.516027,0.275244,-0.685850,0.350532,-0.247275,...,-0.880548,0.655548,-0.380864,0.272583,0.365516,-0.544341,-0.361207,0.701107,-0.125609,0.587811
28,5,1.537214,0.711522,1.018210,1.930830,1.330557,0.777939,-0.970080,-0.518440,-0.336604,...,-1.285219,-0.995978,-1.087967,1.051478,0.489408,0.803257,-0.301194,-1.558794,1.355456,-0.797751
11,2,0.752431,0.567191,-1.104756,0.925440,2.291637,-1.201674,0.636121,-0.868004,-0.374025,...,0.480440,-1.035276,-0.660931,1.762441,0.387334,1.389582,-1.115315,-1.507602,1.039360,-0.508934
10,2,0.408099,0.367528,-1.162057,0.777386,1.704114,-1.169086,1.099095,-0.193038,-1.561782,...,-0.277343,-0.477478,-1.824376,1.601674,0.679094,2.099645,-1.126031,-1.482462,-0.125724,-0.730060

In [7]:

cut = round(len(df) * .8)

x_train = df.iloc[ :cut , 1:]
y_train = df['person name'][ :cut]
x_test = df.iloc[cut: , 1:]
y_test = df['person name'][cut: ]

In [8]:
len(x_train)

28

In [ ]:

model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(1024, 'tanh', input_shape=(512,)),
    tf.keras.layers.Dense(256, 'relu'),
    tf.keras.layers.Dense(64, 'relu'),
    tf.keras.layers.Dense(len(dirs), 'softmax')
])
model.compile(tf.keras.optimizers.Adamax(.0001), 'sparse_categorical_crossentropy', metrics=['accuracy'])
output = model.fit(x_train, y_train, epochs=60, validation_data=(x_test, y_test))

In [10]:
model.save('weights/model.h5')

In [6]:
import config

In [8]:
model = tf.keras.models.load_model(config.MODEL_WEIGHT_DIR)

In [11]:
feature_vector1 = extract_features('test.jpg')

In [12]:
prediction = model.predict([feature_vector1])

# Get the index of the class with the highest probability
predicted_class = np.argmax(prediction)

# Get the confidence level (probability) of the predicted class
confidence = prediction[0][predicted_class] * 100 
print(f"The predicted class is {predicted_class} with a confidence of {confidence:.2f}%")
print(dirs[np.argmax(model.predict([feature_vector1]))])

1/1 [==============================] - 0s 172ms/step
The predicted class is 4 with a confidence of 95.42%
1/1 [==============================] - 0s 24ms/step
HDAKiet.10B1

In [13]:
print(dirs)

['HTMVan.10B1', 'TCTai.10B1', 'PPTuan.10B1', 'NDTAnh.10B1', 'HDAKiet.10B1', 'TCNNam.10B1', 'PTTHa.10B1']

In [2]:
import service

In [3]:
query_search= """
        SELECT name 
        FROM student 
        WHERE id = $1
        """
connection = await service.connect_to_db()
student_update = await connection.fetchrow(query_search,
                                        8)

In [5]:
student_update['name']

'Mai Trung'